html{
    font-size: 16px;
}

a{
    text-decoration: none;
}

body{
    margin:0px;
}

.ls_container {
}

.ls_content{
    padding: 5px;
}

.ls_scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.ls_scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.ls_pull_left{
    float: left;
}

.ls_pull_right{
    float: right;
}

.ls_center{
    margin: 0px auto;
}

.ls_text_left{
    text-align: left;
}

.ls_text_center{
    text-align: center;
}


.ls_text_right{
    text-align: right;
}

.ls_inline{
    display: inline;
    vertical-align: middle;
}

.ls_clear{
    clear: both;
}

.ls_overflow{
    overflow: hidden;
}

.ls_logo_sm{
    height: 25px;
    width: 25px;
}

.ls_logo_mid{
    height: 35px;
    width: 35px;
}

.ls_logo_large{
    height: 75px;
    width: 75px;
}

.ls_bd_black{
    border: 1px solid #171717 !important; 
}

.ls_bd_black:focus{
    border: 1px solid #171717 !important; 
}

.ls_no_border{
    border: none !important; 
}

.ls_fg_blue{
    color: #3a8ee6;
}

.ls_fg_white{
    color: #FFF;
}

.ls_fg_black{
    color: #171717 !important;
}

.ls_bg_white{
    background-color: #FFF;
}

.ls_margin_top_10{
    margin-top: 10px;
}

.ls_margin_top_15{
    margin-top: 15px;
}

.ls_margin_left_15{
    margin-left: 15px;
}

.ls_margin_left_30{
    margin-left: 30px;
}

.ls_padding_15{
    padding: 15px 0px;
}

.ls_padding_all_15{
    padding: 15px;
}

.ls_padding_left_5{
    padding-left: 5px;
}

.ls_padding_left_10{
    padding-left: 10px;
}

.ls_padding_left_15{
    padding-left: 15px;
}

.ls_padding_15_1{
    padding: 15px 0px;
}

.ls_padding_right_15{
    padding-right: 15px;
}

.ls_padding_bottom_15{
    padding-bottom: 15px;
}

.ls_pointer{
    cursor: pointer;
}

.ls_text_d{
    text-decoration-line: underline;
}

.ls_btn_text{
    cursor: pointer;
    color: #3a8ee6;
    font-size: 14px;
    font-weight: normal;
}

.ls_h3{
    font-size: 1.1rem;
    font-weight: bold;
}

.ls_icon img{
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.ls_icon_sm img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #DDD;
  border-radius: 5px;
}

.el-table::before{
    background-color:#FFF;
}